body {
    font-family: 'Roboto Mono', monospace;
    background-color: #ffffff;
    text-shadow: none;
}

h4 {
    font-family: 'Roboto Mono', monospace;
}

a {
    color: #495057;
}

a:link {
    color: #495057;
}

a:visited {
    color: #495057;
}

a:hover {
    color: #C5CED6;
}

a:focus {
    color: #495057;
}