body {
    font-family: 'Prompt', sans-serif;
    background-color: #ffffff;
    text-shadow: none;
}

h4 {
    font-family: 'Roboto Mono', monospace;
}

a {
    color: #FF5E66;
}

a:link {
    color: #FF5E66;
}

a:visited {
    color: #FF5E66;
}

a:hover {
    color: #989D97;
}

a:focus {
    color: #ffffff;
}